:root {
    --sleeveSize: 15em;
}

body {
    height: 100vh;
    margin: 0;

}


/* */
/* SNAPPING SLEEVE TO THE MIDDLE */
nav{
position: absolute;
bottom: 0;
width: 100vw;

}

ul {
    height: calc(var(--sleeveSize)*4);
    margin: 0;
    overflow-x: scroll;
    padding: 0;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: flex-end;
}

li{
    list-style-type: none;
    scroll-snap-align: center;
    margin: 0.25em;
    height: fit-content;
}

img {
    width: var(--sleeveSize);
    height: var(--sleeveSize);
    z-index: 2;
}

/* DIV AS RECORD */
nav div{
    width: calc(var(--sleeveSize)*0.975);
    height: calc(var(--sleeveSize) * 0.975);
    background-color: black;
    position: absolute;
    top: calc(var(--sleeveSize)*0.0125);
    left: calc(var(--sleeveSize)*0.0125);
    border-radius: 100em;

    transition: transform 0.4s ease;

}

nav div:hover{
    transform: translatey(calc(var(--sleeveSize) * -0.6));
}

/* SCROLL BASED TRANSLATION */
/* BRON: https://scroll-driven-animations.style/demos/cover-flow/css/ */

li {
	/* Track this element as it intersects the scrollport */
	view-timeline-name: --li-in-and-out-of-view;
	view-timeline-axis: inline;
}

@keyframes adjust-translation {
	0% {
        transform: translateY(calc(var(--sleeveSize)*0.8));
	}

    45%{
        transform: translateY(calc(var(--sleeveSize)*0));
    } 

	50% {
		transform: translateY(calc(var(--sleeveSize)*-0.3));
	}
    55%{
        transform: translateY(calc(var(--sleeveSize)*0));
    }
	100% {
		transform: translateY(calc(var(--sleeveSize)*0.8));
	}
}

.cards li {
	animation: linear adjust-translation both;
	animation-timeline: --li-in-and-out-of-view;
}


