:root {
    --sleeveSize: 10em;
    --sleevePeak: 0.5;
    --sleeveDropoff: 0;
    --sleeveBottom: -0.2;
}

@media (min-width: 600px){
    :root {
        --sleeveSize: 15em;
        --sleevePeak: 0.5;
        --sleeveDropoff: 0;
        --sleeveBottom: -0.2;
    }
}


body {
    max-height: 100vh;
    margin: 0;

}

/* */
/* SNAPPING SLEEVE TO THE MIDDLE */
nav{
position: absolute;
bottom: 0;
width: 100vw;
max-height: 100vh;
}

@media (min-width: 600px){
    nav{
        position: relative;
    }
}

ul {
    height: calc(var(--sleeveSize)*2.5);
    margin: 0;
    overflow-x: scroll;
    padding: 0;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: flex-end;
}

@media (min-width: 600px){
    ul{
        display: block;
        height: 100vh;
        width: calc(var(--sleeveSize)*2.5);
        scroll-snap-type: y mandatory;
    }
}

li{
    list-style-type: none;
    scroll-snap-align: center;
    margin: 0.25em;
    height: fit-content;
}

img {
    position: relative;
    width: var(--sleeveSize);
    height: var(--sleeveSize);
    z-index: 2;
    /* opacity: 0.5; */
}

/* DIV AS RECORD */
nav li > div{
    width: calc(var(--sleeveSize)*0.975);
    height: calc(var(--sleeveSize) * 0.975);
    background: radial-gradient(circle, transparent 10%, black 10%);
    position: absolute;
    top: calc(var(--sleeveSize)*0.0125);
    left: calc(var(--sleeveSize)*0.0125);
    border-radius: 100em;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div div {
    width: calc(var(--sleeveSize)*0.45);
    height: calc(var(--sleeveSize)*0.45);
    background: radial-gradient(circle, transparent 10%, red 10%);
    border-radius: 100em;
    display: block;
}

/* SCROLL BASED TRANSLATION */
/* BRON: https://scroll-driven-animations.style/demos/cover-flow/css/ */

li {
	view-timeline-name: --li-in-and-out-of-view;
	view-timeline-axis: inline;
}

@media (min-width: 600px){
    li {
        view-timeline-axis: block;
    }
}

/* Vinyl out of sleeve */
li:hover{
    --theme:showVinyl;
}

@container style(--theme:showVinyl){
    li>div{
        animation: --showVinyl 0.5s ease-in-out;
        animation-fill-mode: forwards;
    }
}

@keyframes --showVinyl{
    0%{
        transform: translateY(0em);
    }
    100%{
        transform: translateY(calc(-0.75*var(--sleeveSize)));
    }
}

@media (min-width: 600px){
    @keyframes --showVinyl{
    0%{
        transform: translateX(-0em);
    }
    100%{
        transform: translateX(calc(0.75*var(--sleeveSize)));
    }
}
}

/* scroll based Translation */

@keyframes adjustTranslation {
	0% {
        transform: translateY(calc(var(--sleeveSize)* -1 * var(--sleeveBottom)));
	}

    45%{
        transform: translateY(calc(var(--sleeveSize)* -1 * var(--sleeveDropoff)));
    } 

	50% {
		transform: translateY(calc(var(--sleeveSize)* -1 * var(--sleevePeak)));
	}
    55%{
        transform: translateY(calc(var(--sleeveSize)* -1 *var(--sleeveDropoff)));
    }
	100% {
		transform: translateY(calc(var(--sleeveSize)* -1 * var(--sleeveBottom)));
	}
}

@media (min-width: 600px){
    @keyframes adjustTranslation {
	0% {
        transform: translateX(calc(var(--sleeveSize)* var(--sleeveBottom)));
	}

    45%{
        transform: translateX(calc(var(--sleeveSize)* var(--sleeveDropoff)));
    } 

	50% {
		transform: translateX(calc(var(--sleeveSize)* var(--sleevePeak)));
	}
    55%{
        transform: translateX(calc(var(--sleeveSize)*var(--sleeveDropoff)));
    }
	100% {
		transform: translateX(calc(var(--sleeveSize)* var(--sleeveBottom)));
	}
}}

.cards li {
	animation: linear adjustTranslation both;
	animation-timeline: --li-in-and-out-of-view;
}


